<tr id="<%= dom_id(resource) %>">
  <td><%= resource.name %></td>
  <td><%= resource.resource_type.humanize %></td>
  <td><%= resource.progress_status.humanize %></td>
  <td><%= resource.categories.map(&:name).join(", ") %></td>
  <td>
    <div class="flex gap justify-end">
      <%= link_to edit_resource_path(resource), data: { turbo_frame: "modal" } do %>
        <%= lucide_icon('pencil') %>
      <% end %>
      <%= button_to resource_path(resource), method: :delete, class: "cursor-pointer block", data: { turbo_confirm: "Are you sure you want to delete this resource?" } do %>
        <%= lucide_icon('trash-2') %>
      <% end %>
    </div>
  </td>
</tr>
