<div class="table-list__row">
  <%= tag.p category.name, class: "table-list__cell" %>
  <%= tag.p category.description, class: "table-list__cell" %>
  <%= tag.div class: "table-list__cell" do %>
    <%= tag.div class: "flex gap justify-end" do %>
      <%= link_to edit_category_path(category) do %>
        <%= lucide_icon('pencil') %>
      <% end %>
      <%= button_to category_path(category), method: :delete, class: "cursor-pointer block", data: { confirm: "Are you sure you want to delete this category?" } do %>
        <%= lucide_icon('trash-2') %>
      <% end %>
    <% end %>
  <% end %>
</div>