<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Learning Vault" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "css-zero/reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/variables", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/utilities", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flash" %>
    <div class="header-layout">
      <header id="header">
        <div class="flex justify-between items-center container">
          <h1 class="font-bold text-2xl mie-4">Learning Vault</h1>
          <% if authenticated? %>
            <div class="flex items-center gap">
              <%= render "shared/top_menu" %>
            </div>
          <% else %>
            <% if request.path != new_users_path %>
              <%= link_to "Sign up", new_users_path %>
            <% else %>
              <%= link_to "Sign in", new_session_path %>
            <% end %>
          <% end %>
        </div>
      </header>

      <main id="main">
        <div class="container">
          <%= yield %>
        </div>
      </main>
    </div>
    <%= turbo_frame_tag "modal", data: { controller: "modal" } %>
  </body>
</html>
